services:
  zookeeper:
    container_name: signoz-zookeeper
    image: signoz/zookeeper:3.7.1
    user: root
    labels:
      signoz.io/scrape: "true"
      signoz.io/port: "9141"
      signoz.io/path: "/metrics"
    healthcheck:
      test:
        - CMD-SHELL
        - curl -s -m 2 http://localhost:8080/commands/ruok | grep error | grep null
      interval: 30s
      timeout: 5s
      retries: 3
    # ports:
    #   - "2181:2181"
    #   - "2888:2888"
    #   - "3888:3888"
    volumes:
      - zookeeper-1:/bitnami/zookeeper
    environment:
      - ZOO_SERVER_ID=1
      - ALLOW_ANONYMOUS_LOGIN=yes
      - ZOO_AUTOPURGE_INTERVAL=1
      - ZOO_ENABLE_PROMETHEUS_METRICS=yes
      - ZOO_PROMETHEUS_METRICS_PORT_NUMBER=9141
    restart: unless-stopped

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "9000:9000"
      - "8123:8123"
    environment:
      - CLICKHOUSE_USER=signoz
      - CLICKHOUSE_PASSWORD=password
      - CLICKHOUSE_DB=signoz_traces
    volumes:
      - ./clickhouse/cluster.xml:/etc/clickhouse-server/config.d/cluster.xml
      # - ../data/clickhouse:/var/lib/clickhouse
    restart: unless-stopped

  schema-migrator:
    image: signoz/signoz-schema-migrator:latest
    container_name: schema-migrator
    command: [
      "sync",
      "--dsn=tcp://signoz:password@clickhouse:9000?database=signoz_traces",
      "--replication=false",
      "--cluster-name=signoz_cluster",
      "--up="
    ]
    depends_on:
      - clickhouse
    restart: on-failure

  signoz-collector:
    image: signoz/signoz-otel-collector:latest
    container_name: signoz-otel-collector
    command: [ "--config=/etc/otel-config.yml" ]
    volumes:
      - ./otel-config.yml:/etc/otel-config.yml
    ports:
      - "4317:4317"
      - "4318:4318"
      - "13133:13133"
      - "1777:1777"
    restart: unless-stopped
    depends_on:
      - clickhouse
      - schema-migrator

  signoz:
    image: signoz/signoz:latest
    container_name: signoz-aio
    environment:
      - CLICKHOUSE_HOST=clickhouse
      - CLICKHOUSE_PORT=9000
      - CLICKHOUSE_USER=signoz
      - CLICKHOUSE_PASSWORD=password
      - CLICKHOUSE_DATABASE=signoz_traces
    depends_on:
      - schema-migrator
      - clickhouse
    ports:
      - "8080:8080"
      - "3301:3301"
    restart: on-failure

